<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="DEFAULT_LOG_PATTERN" value="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} [%X{traceId}] %-40.40logger{39} -[%line]: %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
           <pattern>${DEFAULT_LOG_PATTERN}</pattern>
           <charset>UTF-8</charset>
       </encoder>
    </appender>
    
	<logger name="javax" level="ERROR"/>
	<logger name="com.sun" level="ERROR"/>
	<logger name="springfox" level="ERROR"/>
	<logger name="org.apache" level="ERROR"/>
	<logger name="com.zaxxer" level="ERROR"/>
	<logger name="org.hibernate" level="ERROR"/>
	<logger name="org.springframework" level="ERROR"/>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>